
#folders
Library/*
Temp/*
UnityPackageManager/*
.vs/*

#files
Firelight.csproj
Firelight.sln

# Unity will be able to generate everything using just the Assets folder and 
# the ProjectSettings folder.
